.gantt-body {overflow: hidden;}

// rows
.gantt-header-row { }
.gantt-row-height {
	height: $gantt-row-h;
}
.gantt-row-background { background-color: transparent !important; }


// columns
.gantt-foreground-col { z-index: -1; }
.gantt-column-header {
}
// Timeframes styles
.gantt-timeframe-non-working {
	border-right: 1px solid $gantt-border !important;
	opacity: 1;
	background: $background-color-light;
}
.gantt-foreground-col-current-date {
	opacity: 1;
	&,
	> * {
		background: $gantt-active-bg;
		border-right-color: $gantt-active-bd !important;
	}
}
.gantt-header-row-last .gantt-column-header-first { // current day number border
	border-right-color: $gantt-active-bd !important;
}
