
// Skin colors
$brand-primary:         scale-color(#e1f4f7, $lightness: -40%);
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #cc0000;


$ink-warning:            $brand-warning;
$ink-danger:             $brand-danger;
$paint-dawn:             lighten($gray-darker, 5%);
$border-color:           $color-border;
$background-color-light: $color-background-light;



// Spacing
$UNIT: 10px;
$line-height-computed: $UNIT*2;
$grid-gutter-width: $line-height-computed;

$TINY: $UNIT/2;
$SMALL: $UNIT;
$BASE: $line-height-computed;

// Fonts
$font-family-sans-serif: 'Source Sans Pro', "Helvetica Neue", Helvetica, Arial, sans-serif;
$icon-font-path: '../fonts/';

// Type
$font-size-base: 14px;
$font-size-large: $font-size-base;


// Headings
$headings-font-weight: 600;


// Scaffolding
$body-bg:               white;
$link-color:            $brand-primary;
$link-hover-color:      lighten($link-color, 15%);

$border-radius-small: 0;
$border-radius-base: 0;
$border-radius-large: 0;


// Components
// Gantt
$gantt-header-row-h: $UNIT*3;
$gantt-row-h: $UNIT*4;
$gantt-border: mix($gray-lighter, $gray-light, 90%);
$gantt-task-bg: $brand-primary;
$gantt-task-bd: darken($gantt-task-bg, 5%);
$gantt-active-bg: scale-color(#fee9d1, $lightness: 30%);
$gantt-active-bd: scale-color($gantt-active-bg, $lightness: -3%);


// Navbar
$navbar-inverse-border: transparent;
$navbar-inverse-bg:              transparent;
$navbar-height:                   70px;


// Forms
$input-bg:                       white;
$input-bg-disabled:              $gray-lighter;

$input-color:                    $gray;
$input-border: $gantt-border;
$input-border-focus:             $brand-primary;

//** Placeholder text color
$input-color-placeholder:        #999;

// $input-height-base:              ($line-height-computed + ($padding-base-vertical * 2) + 2);
// $input-height-large:             (ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2);
// $input-height-small:             (floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2);

$form-group-margin-bottom:       $UNIT*2;

$legend-color:                   $gray-dark;
$legend-border-color:            #e5e5e5;

$input-group-addon-bg:           $input-bg;
$input-group-addon-border-color: $input-border;

// Breadcrumbs
// $breadcrumb-bg: $body-bg;

$btn-default-border: $input-border;
