

/**
 * Gantt header
 */
.gantt-header-columns >*:not(:last-child) .gantt-column-header,
.gantt-side-content-tree .gantt-row-label-header .gantt-label-text {
	font-weight: $headings-font-weight;
	letter-spacing: .02em;
	padding-left: $UNIT;
	text-align: left !important;
}
.gantt-side-content-tree .gantt-row-label-header { /* gant Name  col header */
	height: 100%;
}
.gantt-header-row {
	position: relative;
	height: $gantt-header-row-h !important;

	> * {
		height: 100% !important;
		padding-top: 0 !important;
		line-height: $gantt-header-row-h;
	}
}

.gantt-column-header {
}
// month header
// week header
// day header
