.gantt-side .gantt-header-row {
	border: none !important;
}

.gantt-column-header,
.gantt-header-row,
.gantt-foreground-col,
.gantt-row { border-color: $gantt-border !important; }

.gantt-scrollable-header,
.gantt-scrollable {
	border-right: none;
   border-left-color: $gantt-border !important;
}

// rows
.gantt-side-background-header {
	border: 1px solid $gantt-border;
	border-width: 1px 0;
}
.gantt-header-row {}
.gantt-row {
	border-width: 0 0 1px;
	border-style: solid;
}

// cols
.gantt-column-header {}

// allows overlap of timeframes bg over day number
.gantt-scrollable-header { margin-bottom: -$gantt-header-row-h; }
.gantt-body { padding-top: $gantt-header-row-h; }
.gantt-body-columns {top: 0;}
