
/**
 * Gantt global
 */
.gantt {
	color: $text-muted;
}


/**
 * Gantt global - spacing
 */

 /**
  * Hiding useless stuff
  */
 .gantt-tree-handle-button,
 .gantt-resizer {display: none !important;}





/**
 * Gantt side
 */
.gantt-label-text {
	padding-left: $UNIT !important;
}


/**
 * Side
 */
.gantt-task,
.gantt-side-content {
	// opacity: 0;
	// pointer-events: none;
}
