#toast-container .toast {

   $side-w: ($BASE*1.5);

   &-message,
   &-title {
      padding: $SMALL;
      font-weight: 400;
      color: black;
   }
   &-title {
      background-color: fade(white, 18%);
      border-bottom: 1px solid fade(black, 10%);
   }
   &-message {
      font-size: $font-size-small;
      background: fade(white, 30%);
      // color: rgba(black, .6);

   }
      a {
         color: $brand-primary;
         text-decoration: underline;
         font-weight: bold;
      }

   &-close-button {
      right: $SMALL;
      top: $SMALL;
      text-shadow: none;
      opacity: .6;
      line-height: 1;
      color: black;
      margin-top: -.25em;
   }

   & {
      padding: 0;
      padding-left: $side-w;
      border-radius: 2px;
      opacity: 1;
      width: 450px;
      max-width: 100%;
      box-shadow: 0 0 0 1px fade(black, 10%) inset,
                  0 2px 5px fade(black, 10%),
                  0 1px 1px fade(black, 20%) !important;

   }


   // States
   &:hover {
      .toast-title {
         background-color: fade(white, 15%);
      }
      .toast-message {
         background-color: fade(white, 35%);
      }

   }

   // Modifiers
   &-error {
      background-color: scale-color($brand-danger, $lightness: -0%);

      &.toast { background-image: none !important; }
   }

}
