// $gray-base:              #1F2D3D;
// $gray-darker:            #323b43;
// $gray-dark:              #59626a;
// $gray:                   #8492A6;
// $gray-light:             #E5E9F2;
// $gray-lighter:           #F9FAFC;
$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%); // #222
$gray-dark:              lighten($gray-base, 20%);   // #333
$gray:                   lighten($gray-base, 33.5%); // #555
$gray-light:             lighten($gray-base, 46.7%); // #777
$gray-lighter:           mix(#F9FAFC, #EFF2F7, 80%); // #eee.




$color-background-light: $gray-lighter;
$color-border:           $gray-light;


// $bg: scale-color(#D1EEFF, $saturation: -30%, $lightness: 70%);
// $bd: #e2eaf0;
// $text: #a9bfcc;
// $text-muted: #a9bfcc;
